:root {
  --placeholder-initial: #eeeeee;
  --placeholder-final: #cccccc;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(80% - 60px);
  flex-wrap: wrap;
  gap: 40px;
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-details {
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.tag-line-container {
  display: flex;
  cursor: pointer;
}

.tag-line {
  font-size: 15px;
}

.profile-img {
  width: inherit;
  height: inherit;
}

@media screen and (max-width: 599px) {
  .profile-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 389px) {
  .profile-container {
    flex-direction: column;
    padding: 0rem 1rem;
  }
}
