:root {
  --placeholder-initial: #eeeeee;
  --placeholder-final: #cccccc;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(80% - 60px);
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px;
}

.profile-details {
  font-size: 40px;
}

.helper-text {
  font-weight: 200;
}

.name {
  color: #318ce7;
  cursor: pointer;
}

.profile-img {
  width: inherit;
  height: inherit;
}
