:root {
  --placeholder-initial: #eeeeee;
  --placeholder-final: #cccccc;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(80% - 60px);
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  animation: placeholder ease-in-out 2s infinite;
  margin-right: 50px;
}

.profile-details {
  font-size: 40px;
}

.helper-text {
  font-weight: 200;
}

.name {
  color: #318ce7;
}

@keyframes placeholder {
  0% {
    background-color: var(--placeholder-initial);
  }
  50% {
    background-color: var(--placeholder-final);
  }
  100% {
    background-color: var(--placeholder-initial);
  }
}

.profile-img {
  width: inherit;
  height: inherit;
  opacity: 0;
}

.img-loaded {
  animation: none;
}
